<div *ngIf="document" class="row justify-content-center container">
  <div id="task">
  <h1>Тестовые задания для Front End разработчика </h1>
  <h2>Тестовое задание №1</h2>
  <ul>
    <li>Сверстать приведенный ниже дизайн</li>
    <li>Тип лицензии выводить шрифтом Bebas - выводить через font-face</li>
    <li>Отображать тип выбранной лицензии и итоговую сумму</li>
    <li>Содержимое combobox-a и стоимости отдельных лицензий загружать из JSON файла</li>
    <li>Формат ссылки на кнопке "Buy Now" сформируйте по вашему усмотрению</li>
  </ul>
  <img src="assets/img/test1.png" alt="test 1 Image">
</div>
<div id="solution">
  <h2>Решение:</h2>
  <form action="#" method="GET">
    <div id="inputRadio" *ngFor="let item of licensePlans; let i = index" [attr.data-index]="i">
      <input type="radio" name="licenseNameChecker" class="licenseNameChecker" id="licenseName{{i}}">
      <label for="licenseName{{i}}" (click)="licenseSelect(item)">
					<span>{{item.name}}</span>
					<span>${{item.amount}} per license</span>
				</label>
    </div>
    <div id="licenseNumber">Number of licenses:
      <input id="licenseCount" name="licenseCount" class="form-control" type="number" step="1" min="1" maxlength="100" [(ngModel)]="document.licenseCount" (change)="updateLicenseCount()">

    </div>
    <p id="totalPrice">total: <span>${{document.totalAmount}}<sup>US</sup></span></p>
    <button>buy now</button>
    <p id="selectedPlan">{{document.licensePlan.name}}</p>
    <!-- Selected plan: <span id="selectedPlanName">#3</span></p> -->
  </form>
</div>
