/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto', sans-serif;
  font-display: fallback;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #161616;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
}
